{%    assign _root_prefix = ''
%}{%  assign _root_subfolders = page.url | append: '#' | split: '/' | size | minus: 2
%}{%  for x in (1.._root_subfolders)
%}{%    assign _root_prefix = _root_prefix | append: '../'
%}{%  endfor %}

<ul>{%
      assign _list = site.posts | where: 'lang', page.lang
%}{%  for _item in _list %}
  <li>
    <span>{{ _item.date | date: '%Y-%m-%d' }}</span>.
    <a href="{{ _root_prefix }}{{ _item.url | remove_first: '/' }}">{{ _item.title }}</a>
  </li>{%
      endfor %}
</ul>
