$content-width:     48rem
$gutter:            1.2rem

html, body, .inner > *:first-child, footer *
  margin: 0
  padding: 0

html, body
  height: 100%

body
  display: flex
  flex-direction: column

main
  flex: 1
  border-bottom: thin dashed

.inner
  max-width: $content-width
  margin: 0 auto
  padding: $gutter

header
  border-bottom: medium dashed

nav
  float: right

  li
    display: inline-block

  li + li::before
    content: '• '

nav a, a.mail
  color: inherit !important

@media print
  nav
    display: none

  a[href^="http"]::after
    content: " (" attr(href) ")"

@media (max-width: $content-width)
  .xtra
    display: none

// Damn, should I really define colors?

@media (prefers-color-scheme: dark)
  html
    background: #333
    color: #aaa

  a
    color: #58c

    &:visited
      color: #a6c
